<section class="course-about" aria-label="About the course and author">
    <div class="course-about-inner">
        <img
            class="course-about-photo"
            src="/static/assets/matthias-endler.jpg"
            alt="Matthias Endler"
            width="400"
            height="400"
            loading="lazy"
            decoding="async"
        />
        <div class="course-about-copy">
            <p>
                Hi, I'm <a href="https://endler.dev/about/">Matthias Endler</a>,
                a Rust consultant and founder of <a href="https://corrode.dev/">corrode</a>.
                I put this course together to help you get comfortable with Rust,
                one small program at a time. If you know variables, functions,
                and loops in another language, you're in the right place.
                You don't need any Rust experience.
            </p>
            <p>
                Everything here is free, including the hints and solutions.
                Try the exercises right in your browser, with nothing to install.
                You can start without an account.
                <a href="/signup">Sign up</a> whenever you'd like to save your
                progress by submitting solutions. Prefer your own editor?
                The <a href="https://github.com/corrode/course#how-it-works">README</a>
                will help you get set up locally. Take your time, experiment,
                and don't be afraid to ask the compiler a few questions.
            </p>
        </div>
    </div>
</section>
